
:root {
    --dark: #2E2F42;
    --primary-brand: #4D5AE5;
    --text: #434455;
    --accent: #E7E9FC;
    --white-color: #FFFFFF;
    --light: #F4F4FD;
}
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */
body {
    font-family: Roboto, sans-serif;
    line-height: 1;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 1128px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}
/* header */
.navigation {
    /* display: block; */
    align-items: center;
    justify-content: space-between;
    /* width: 1158px; */
    height: 72px; 
    padding-top: 25px;
}
.nav-item-link {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-right: 100px;

}
.logo {
    width: 115px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-left: 156px;
    margin-right: 77px;
}
.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.logo-stydio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--dark);
}
.nav-items {
    width: 261px;
    height: 24px;
    display: flex;
}
.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-right: 40px;
}
.nav-link:hover {
    color: var(--primary-brand);
}
.nav-link:focus {
    color: var(--primary-brand);
}
.contact {
    display: flex;
    justify-content: center;
}
.nav-mail,
.nav-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.nav-mail {
    width: 153px;
    height: 24px;
    margin-right: 40px;
}
.nav-tel {
    width: 151px;
    height: 24px;
    margin-right: 100px;
}
.nav-mail:hover,
.nav-mail:focus {
    color: var(--primary-brand);
}
.nav-tel:hover,
.nav-tel:focus {
    color: var(--primary-brand);
}
/* main webstudio */
.section-title {
    height: 603px;
    background-color: var(--dark);
    display: flex;
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
/* margin-top: 360px; */
}
/* .main-section {
    height: 603px;
    display: flex;        

    margin-bottom: 192px;
    margin-left: 474px;
} */
.title {
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.07;
    font-size: 56px;
    width: 492px;
    /* display: flex; */
    /* display: block */
    /* flex-direction: column; */
    /* text-align: center; */
    /* justify-content: center; */
    letter-spacing: 0.02em;
    margin-top: 48px;
}

    
.button {
    width: 170px;
    height: 51px;
    font-weight: 600;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: block; */
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-brand);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.visually-hidden {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-heading {
    width: 1128px;
    /* height: 104px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    /* margin-bottom: 120px; */
}
.heading-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.heading-items {
    margin-right: 24px;
    width: 264px;
    height: 104px;
}
.heading {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}
.section-subject {
    margin-top: 120px;
    width: 1128;
    height: 412px;
    
}
.subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.subject {
    /* margin: 0 auto; */
    /* display: flex; */
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}
.section-our {
    background: #F4F4FD;
    margin-top: 120px;
    /* margin-bottom: 120px; */
}
.subject-our {
    margin-top: 120px;
    text-align: center;font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.subject-list {
    display: flex;
}
.subject-img {
    margin-right: 24px;
    /* display: flex; */
}
/* main portfolio */
.btn-portfolio {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--light);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.item {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.text-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);

}
.btn-portfolio:hover {
    color: var(--white-color);
    background: var(--primary-brand);
    border-radius: 4px;
}
.btn-portfolio:focus {
    color: var(--white-color);
    background: var(--primary-brand);
    border-radius: 4px;
}
/* footer */
.footer {
    background: var(--dark);
    width: 1158px;
    height: 310px;
    margin-bottom: 100px;
}
.ftr-text {
    width: 264px;
    height: 110px;
    margin-left: 156px;
}
/* .ftr-link {

} */
.footer-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.footer-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-txt {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent);
    margin-top: 16px;
}
