
:root {
    --dark: #2E2F42;
    --primary-brand: #4D5AE5;
    --text: #434455;
    --accent: #E7E9FC;
    --white-color: #FFFFFF;
    --light: #F4F4FD;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 1128px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}
/* header */
.navigation {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px; 
}
.nav-contact {
    display: flex;

}
.nav-item-link {
    display: flex;
    margin-right: 77px;
}
.logo {
    width: 115px;
    height: 24px;
    display: flex;
    margin-right: 77px;
}
.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.logo-stydio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--dark);
}
.nav-items {
    display: flex;
    width: 261px;
    height: 24px;
    margin-right: 214px;
}
.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin: 35px;
}
.nav-link:hover {
    color: var(--primary-brand);
}
.nav-link:focus {
    color: var(--primary-brand);
}
.contact {
    display: flex;
}
.contacts-item {
    display: flex;
    margin-right: 40px;
}
.nav-mail,
.nav-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.nav-mail {
    /* width: 153px; */
    /* height: 24px; */
    /* margin-right: 40px; */
}
.nav-tel {
    /* width: 151px; */
    /* height: 24px; */
    /* margin-right: 100px; */
}
.nav-mail:hover,
.nav-mail:focus {
    color: var(--primary-brand);
}
.nav-tel:hover,
.nav-tel:focus {
    color: var(--primary-brand);
}
/* main webstudio */
.section-title {
    height: 603px;
    background-color: var(--dark);
    
    /* padding-left: 474px; */

}
.main-section {
    /* display: flex; */
    text-align: center;
}
.title {
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    padding-top: 192px;
    padding-left: 300px;
    align-items: center;
    width: 520px;
    padding-bottom: 48px;
}

.button {
    width: 170px;
    height: 51px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-brand);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.visually-hidden {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-heading {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 120px;
    margin: 0 auto;
}
.heading-items {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* width: 264px; */
    
}
.heading-item {
    width: 264;
    margin-right: 24px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */

}
.heading {
    /* display: flex; */
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    padding-bottom: 8px;
}
.section-subject {
    padding-top: 120px;
    height: 450px;
    padding-bottom: 120px;
}
.subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.subject-list {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.subject-img {
    margin: 24px;
    
}
.subject {
    /* margin: 0 auto; */
    /* display: flex; */
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    padding-bottom: 72px;}
.section-our {
    background: #F4F4FD;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.conteiner-our {
    padding-bottom: 120px;
}
.subject-our {
    text-align: center;
    padding-top: 120px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    padding-bottom: 72px;
}
/* .subject-list {
    display: flex;
} */
.subject-img {
    margin-right: 24px;
    /* display: flex; */
}
.card-our {
    width: 264px;
    height: 380px;
}
/* main portfolio */
.btn-portfolio {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--light);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.item {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.text-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);

}
.btn-portfolio:hover {
    color: var(--white-color);
    background: var(--primary-brand);
    border-radius: 4px;
}
.btn-portfolio:focus {
    color: var(--white-color);
    background: var(--primary-brand);
    border-radius: 4px;
}
/* footer */
.footer {
    background: var(--dark);
    width: 1158px;
    height: 310px;
    margin-bottom: 100px;
}
.ftr-text {
    width: 264px;
    height: 110px;
    margin-left: 156px;
}
/* .ftr-link {

} */
.footer-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.footer-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-txt {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent);
    margin-top: 16px;
}
